#container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
}

td{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 50px;
}

.btop{
    border-top: 1px solid;
}

.bbottom{
    border-bottom: 1px solid;
}

.bright{
    border-right: 1px solid;
}

.bleft{
    border-left: 1px solid;
}

.hidden{
    display: none;
}

.winner{
    width: 600px;
    background-color: rgb(148, 235, 202);
    border: 1px solid rgb(179, 174, 174);
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.info{
    width: 600px;
    background-color: rgb(75, 23, 117);
    color: #fff;
    border: 1px solid rgb(190, 187, 187);
    border-radius: 3px;
    padding: 4px;
    text-align: center;
    margin-bottom: 15px;
}

.table{
    margin: 5px;
}

#turn{
    color: rgb(116, 201, 116);
}

#score1{
    margin-right: 15px;
}

#score1, #score2, #draw{
    color: rgb(230, 238, 124);
}

#draw{
    margin-right: 15px;
}

#reset{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(8, 151, 144);
    color: #fff;
    text-decoration: none;
    height: 20px;
}

#result{
    margin-right: 10px;
}

.green{
    color: rgb(7, 145, 87);
    border-color: rgb(20, 20, 20);
}